@charset "UTF-8";

/* @font-face {
  font-family: 'thicccboi';
  src: url("../Webfont/THICCCBOI-Regular.woff2");
 
  } */

body {
  /* font-family: thicccboi !important; */
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 12px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 270px;
  z-index: 600;
  padding: 24px 0px;
}
div#navbarSupportedContent {
  margin-top: 40px;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item > span {
  font-size: 16px !important;
  font-weight: 600;
  color: #7d889e;
}
.list-group-item {
  border: none !important;
}
.active-item {
  background-color: #8ea9e036 !important;
  border-radius: 10px !important;
}
.active-item > span {
  color: #3b5998 !important;
}
.more-text {
  color: #3b5998 !important;
  font-weight: 600;
}
.content {
  margin-left: 240px !important;
}
.heading {
  font-size: 28px !important;
  font-weight: 600 !important;
}
.text-thin {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #7d889e;
}
.time-filter-div {
  background-color: #8ea9e036;
  border-radius: 10px;
}
.filter-value {
  color: #7d889e !important;
  font-size: 14px !important;
  text-decoration: none;
}
.inline {
  display: inline !important;
}
.time-filter-div > .selected {
  background-color: #8ea9e036;
  border-radius: 10px;
}
.time-filter-div > .selected span {
  color: #3b5998 !important;
  font-weight: 700;
}

.top-menu-buttons {
  background-color: #8ea9e036;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
}
.profile-img {
  border-radius: 100px;
}
.profile-div {
  position: relative;
}
.profile-badge {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 40px;
}

.green-color {
  color: #30bd71 !important;
}
.green-back {
  background-color: #30bd7230 !important;
}
.pink-color {
  color: #ed58ba !important;
}
.pink-back {
  background-color: #ed58b941 !important;
}
.gray-color {
  color: #7d889e !important;
}
.grey-back {
  background-color: #8ea9e03f;
}
.weight-400 {
  font-weight: 400 !important;
}

.col-2-half {
  position: relative;
  width: 100% !important;
  -ms-flex: 0 0 20% !important;
  flex: 0 0 20% !important;
  max-width: 20% !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.stat-card {
  border: solid #cecece99 1px;
  border-radius: 18px;
}
.stat-card-head {
  color: #7d889e !important;
  font-size: 1vw;
  font-weight: 400;
  font-family: thicccboi !important;
}
.stat-valuep {
  font-size: 14px !important;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}
.bar-chart-div {
  border: solid #cecece99 1px;
  border-radius: 10px;
}
.date-text-thin {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #7d889e;
}
.leads-line {
  border-left: solid #3b5998 5px;
  padding-left: 7px;
}
.revenue-line {
  border-left: solid #88ffbf 5px;
  padding-left: 7px;
}

.w-100 {
  width: 100%;
}
.card-body {
  background-color: #eef2fa !important;
  border: none !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
}
.collapsed {
  background-color: #fff !important;
}
.background-color {
  background-color: #eef2fa !important;
}
.view-all {
  text-decoration: none !important;
  color: #3b5998 !important;
}
.greenline {
  background-image: url("../assets/images/linegreen.png");
  background-repeat: no-repeat, repeat;
  height: 50px;
}
.pinkline {
  background-image: url("../assets/images/linepink.png");
  background-repeat: no-repeat, repeat;
  height: 50px;
}

.chart {
  width: 100%;
  min-height: 200px;
}
.row {
  margin: 0 !important;
}
.geo-map {
  min-height: auto !important;
}
.country-name {
  font-size: 1vw !important;
}

.columnchart_material .google-visualization-tooltip {
  padding-top: 10px !important;
}
/* ============dasbord(24)======== */
.col-2-half:first-child {
  padding-left: 0px !important;
}
.col-2-half:last-child {
  padding-right: 0px !important;
}
.bar-chart-sec.px-2 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.my-5.total-section-filters {
  margin-bottom: 15px !important;
}
#sidebarMenu a,
.top-nav a {
  /* font-family: thicccboi !important; */
}
.product-section a,
.product-section p,
.table-scroll label,
.side-menu a {
  /* font-family: thicccboi !important; */
}
.table-scroll .mt-sm-5 {
  margin-top: 1rem !important;
}
.table-scroll .mt-4 {
  margin-top: 0.8rem !important;
}
.slick-slide {
  margin-bottom: 10px;
}
.my-5.pagination {
  margin-top: 1rem !important;
}
@media (min-width: 767px) {
  .stat-card-head {
    font-size: 14px !important;
  }
  .slider_wrap {
    position: relative;
  }
  .slider_wrap {
    max-width: 100vw;
    overflow-x: scroll;
    position: relative;
    scrollbar-color: #30bd71 #d8f3e4;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    flex-wrap: nowrap !important;
  }
  .pseduo-track {
    background-color: #d8f3e4;
    height: 5px;
    width: 100%;
    position: relative;
    top: -5px;
    z-index: -10;
  }

  .slider_wrap::-webkit-scrollbar {
    height: 5px;
  }

  .slider_wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  }

  .slider_wrap::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #30bd71;
  }

  .slider_wrap::-webkit-scrollbar-thumb:hover {
    background-color: #30bd71;
  }

  .slider_wrap::-webkit-scrollbar:vertical {
    display: none;
  }

  /* .slider_wrap {
    overflow-x: scroll;
    flex-wrap: nowrap !important;
  }
  .total-section .content .img-vector {
    margin-top: -93px !important;
  }
  .mt-4.dash-new {
    margin-top: 0.7rem !important;
  }
  .slider_wrap .col-2-half {
    margin-bottom: 10px;
  }
  .slide-content .rev-dash {
    padding-top: 5px !important;
  }
   */
}
/* @media (any-hover: none) {
  .pseduo-track {
    display: none;
  }
} */
.lead-top .page-link {
  background-color: #8ea9e035;
  border-radius: 10px !important;
}
.lead-top .page-link.selected {
  background-color: #3b5998;
  color: #fff;
}
.lead-top .page-link.pagination-arrow {
  background-color: #3b5998;
  color: #fff;
}
.lead-top .tab-pane .btn-secondary.dropdown-toggle.dropdown-filter {
  color: #7d889e;
  background-color: #fff;
  border: 1px solid #cecece;
  font-size: 16px;
  text-transform: initial;
  box-shadow: initial;
}
.lead-top .tab-pane .btn-secondary.btn-add-filters {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #cecece;
  font-size: 16px;
  text-transform: initial;
  box-shadow: initial;
}
.lead-top .tab-pane .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.setting-top .upload-btn {
  background-color: #8ea9e035;
  border: 1px solid #8ea9e035;
  color: #7d889e;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: initial;
}
.setting-top .upload-input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.align-center {
  text-align: center;
}
.setting-top .input-field .form-label {
  color: #7d889e;
  font-weight: bold;
  font-size: 16px;
}
.setting-top .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.setting-top .input-field > input {
  color: #7d889e !important;
  background-color: #8ea9e035 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.lead-top .nav-tabs .nav-link,
.setting-top .nav-tabs .nav-link {
  text-transform: initial;
  font-weight: 600;
  font-size: 16px;
  color: #949494;
  padding: 17px 16px 16px;
}

.setting-top .nav-tabs {
  border-bottom: 1px solid #e9e9e9 !important;
}
.setting-top .tab-content h5 {
  font-size: 20px;
  font-weight: 500;
  color: #7d889e;
}
.setting-top .tab-content .color-light {
  color: #7d889e;
}
.facebook-icon {
  color: #1877f2 !important;
}
.connected-pill {
  background-color: #3b5998 !important;
  color: #fff;
  text-align: center !important;
}
.display-block {
  display: block !important;
}
.btn-save {
  background-color: #3b5998 !important;
}
.billing-option.selected {
  background-color: #3b5998 !important;
}
.billing-option {
  width: 49% !important;
  text-align: center !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.billing-option.selected > span {
  color: #fff !important;
  font-weight: bolder !important;
}
.inline-block {
  display: inline-block !important;
}
.add-user-btn {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  color: #fff !important;
  font-size: 14px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  position: relative;
  overflow: hidden;
}
.color-red {
  color: #fd5a5a !important;
}
.billing-option > span {
  color: #7d889e !important;
}
.leads-table td:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 20px !important;
  color: #7d889e !important;
}
.leads-table td:last-child {
  border-radius: 0 10px 10px 0;
}
.leads-table tr {
  border: #fff !important;
}
.font-10 {
  font-size: 10px !important;
}
.faceboo {
  width: 34px;
  margin-right: 13px;
}

@media only screen and (max-width: 1024px) {
  .lead-top.content {
    margin-left: 0px !important;
    padding: 0px !important;
  }
  .lead-top .table.table-striped.leads-table {
    width: 850px;
  }
  .lead-top .lead-scroll {
    overflow-x: scroll;
  }

  .lead-top .pagination .px-3 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .lead-top .m-hide {
    display: none !important;
  }
  .lead-scroll .leads-tabs {
    width: 1000px;
    flex-wrap: nowrap;
  }
  .lead-top .top-nav,
  .setting-top .top-nav {
    margin-top: 60px;
  }
  .setting-top.content {
    margin-left: 0px !important;
    padding: 0px !important;
  }
  .setting-top .lead-scroll {
    overflow-x: scroll;
  }
  .setting-top .lead-scroll .setting-tabs {
    width: 716px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
  }
  .setting-top .m-hide {
    display: none !important;
  }
  .setting-top .lead-scroll .user-table {
    width: 740px;
  }
}
@media only screen and (max-width: 767px) {
  .lead-top .tab-content .pe-2 {
    width: 50%;
    display: inline-block;
    margin-bottom: 14px;
  }
  .lead-top .tab-content .btn {
    width: 100%;
  }
  .lead-top .rounded .color-dark {
    text-align: center;
    display: block;
  }
  .lead-top li.nav-item.ms-auto {
    display: none;
  }
  .lead-top li.nav-item {
    padding-bottom: 20px;
  }
  .m-padd {
    padding-top: 20px;
  }
}

.react-datepicker-wrapper {
  width: auto !important;
}

@media only screen and (min-width: 1025px) {
  .datepicker_mob {
    display: none !important;
  }
}

.require_text {
  color: #b9bec7;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  padding: 0.5rem;
}
.companyFb {
  width: 150px;
  max-width: 100%;
}
.table_content .tableRow:hover {
  background: #bdd3ff !important;
}
.table_content .tableRow > div:hover h5 {
  color: #1362ff;
}
.table_content .tableRow {
  padding: 0px !important;
}
.table_content .tableRow > div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_content .tableRow > div + div {
  border-left: 1px solid rgba(142, 169, 224, 0.15);
}
