.slide-content .content {
    min-height: 100% !important;
    width: 100% !important;
}
@media (max-width: 768px) {
.slide-content .content {
    min-height: 100% !important;
    width: 100% !important;
}
}
.slide-content .content {
    margin-left: 0px !important;
}